
body {
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: #0077c2;
}
a:visited {
    color: #26418f;
}
a:active {
    color: #b61827;
}

#container {
    width: 50em;
    margin: 0 auto;
    padding-top: 2em;
}

header {
    float: left;
    width: 200px;
    padding-top: 10em;
    background-image: url("/static/logo.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

#footer {
    text-align: center;
    margin-top: 3em;
    color: #888;
}

#social {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#social #twitter {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px 30px;
    background-image: url("/static/icon_twitter.png");
    background-repeat: none;
}

#content {
    float: left;
    width: 30em;
    margin-left: 2em;
}

#main-menu a {
    display: block;
    text-align: center;
    padding: 4px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
    header { background-image: url("/static/logo@2x.png"); }
    #social #twitter { background-image: url("/static/icon_twitter@2x.png"); }
}
