{% extends "layout.html" %}
{% block body %}

<p>
	Thinking of signing up? Great! 👏
</p>

<p>
	Start by filling out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSccI5tefFOo9cr5xAboUr_Hr4Wdk3gM4o__MrNTekXe7Ey3ig/viewform?usp=sf_link">membership application form</a>. When you are approved we will e-mail you a link to our online community, which is the central hub of our organization.
</p>

<p>
	And hey, make sure you understand and abide by our <a href="https://github.com/gameworkers/CodeOfConduct">community Code of Conduct</a>. It's important to us to build a safe and supportive atmosphere for everyone.
</p>

{% endblock %}
