<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>GWU Sweden</title>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
			type="image/vnd.microsoft.icon"
		>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='typebase.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
		<meta name="twitter:card" content="summary"></meta>
		<meta name="twitter:site" content="@GWU_Sweden"></meta>
		<meta property="og:title" content="GWU Sweden"/>
		<meta property="og:description" content="The local Sweden chapter of Game Workers Unite. Building community and organizing workers. ✊🏾🎮"/>
		<meta property="og:image" content="https://gwu-sweden.org/static/og.png"/>
	</head>
	<body>
		<div id="container">
			<header>
				<nav id="main-menu">
					<a href="{{ url_for('index') }}">Home</a>
					<a href="{{ url_for('join') }}">Join</a>
				</nav>
				<ul id="social">
					<li><a id="twitter" href="https://twitter.com/GWU_Sweden" aria-label="GWU_Sweden on Twitter"></a></li>
				</ul>
				<div id="footer">
					GWU Sweden<br>&copy; 2019
				</div>
			</header>
			<div id="content">
				{% block body %}{% endblock %}
			</div>
			<div class="clearfix"></div>
		</div>
	</body>
</html>
