<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ site.title }}</title>
		<meta name="application-name" content="GWU Sweden"/>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}" type="text/css">
		<link rel="stylesheet" href="{{ "/assets/typebase.css" | relative_url }}" type="text/css">
		<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" type="text/css">
		<meta name="twitter:card" content="summary"></meta>
		<meta name="twitter:site" content="@GWU_Sweden"></meta>
		<meta property="og:title" content="GWU Sweden"/>
		<meta property="og:description" content="The local Sweden chapter of Game Workers Unite. Building community and organizing workers. 🎮"/>
		<meta property="og:image" content="https://gwu-sweden.org/assets/og.png"/>
	</head>
	<body>
		<div id="container">
			<header>
				<nav id="main-menu">
					<a href="/">Home</a>
					<a href="/join.html">Join</a>
				</nav>
				<ul id="social">
					<li><a id="twitter" href="https://twitter.com/GWU_Sweden" aria-label="GWU_Sweden on Twitter"></a></li>
				</ul>
				<div id="footer">
					GWU Sweden<br>&copy; 2020
				</div>
			</header>
			<div id="content">
			    {{ content}}
			</div>
			<div class="clearfix"></div>
		</div>
	</body>
</html>
