<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ site.title }}</title>
		<link
			rel="shortcut icon"
			href="{{ "/assets/favicon.ico" | relative_url }}"
			type="image/vnd.microsoft.icon"
		>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/apple-touch-icon-57x57.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/apple-touch-icon-114x114.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/apple-touch-icon-72x72.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/apple-touch-icon-144x144.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/apple-touch-icon-60x60.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/apple-touch-icon-120x120.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/apple-touch-icon-76x76.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/apple-touch-icon-152x152.png" | relative_url }}" />
		<link rel="icon" type="image/png" href="{{ "/assets/favicon-196x196.png" | relative_url }}" sizes="196x196" />
		<link rel="icon" type="image/png" href="{{ "/assets/favicon-96x96.png" | relative_url }}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | relative_url }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | relative_url }}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ "/assets/favicon-128.png" | relative_url }}" sizes="128x128" />
		<meta name="application-name" content="GWU Sweden"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="{{ "/assets/mstile-144x144.png" | relative_url }}" />
		<meta name="msapplication-square70x70logo" content="{{ "/assets/mstile-70x70.png" | relative_url }}" />
		<meta name="msapplication-square150x150logo" content="{{ "/assets/mstile-150x150.png" | relative_url }}" />
		<meta name="msapplication-wide310x150logo" content="{{ "/assets/mstile-310x150.png" | relative_url }}" />
		<meta name="msapplication-square310x310logo" content="{{ "/assets/mstile-310x310.png" | relative_url }}" />
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}" type="text/css">
		<link rel="stylesheet" href="{{ "/assets/typebase.css" | relative_url }}" type="text/css">
		<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" type="text/css">
		<meta name="twitter:card" content="summary"></meta>
		<meta name="twitter:site" content="@GWU_Sweden"></meta>
		<meta property="og:title" content="GWU Sweden"/>
		<meta property="og:description" content="The local Sweden chapter of Game Workers Unite. Building community and organizing workers. ✊🏾🎮"/>
		<meta property="og:image" content="https://gwu-sweden.org/assets/og.png"/>
	</head>
	<body>
		<div id="container">
			<header>
				<nav id="main-menu">
					<a href="/">Home</a>
					<a href="/join.html">Join</a>
				</nav>
				<ul id="social">
					<li><a id="twitter" href="https://twitter.com/GWU_Sweden" aria-label="GWU_Sweden on Twitter"></a></li>
				</ul>
				<div id="footer">
					GWU Sweden<br>&copy; 2019
				</div>
			</header>
			<div id="content">
			    {{ content}}
			</div>
			<div class="clearfix"></div>
		</div>
	</body>
</html>
